
{% extends 'app/base.html' %}  
{% load static %}  
{% load crispy_forms_tags %} 

{% block contenido %}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

    <form action="" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        <table>
            {{ form|crispy }}
        </table>
        <input type="submit" class="btn btn-succes" value="Modificar">
        <input type="reset" class="btn btn-danger" value="Limpiar">
    </form>
    {{ mensaje }}
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
