
{% extends 'app/base.html' %}  
{% load static %}  

{% block contenido %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Productos</h1>
      </p>
    </div>
  </section>

  {% for aux in listasProductos %}


    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 box-shadow">
              {% if aux.imagen %}
              <img class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ aux.imagen.url }}"
                data-holder-rendered="true">
              {% else %}
                <img src="../../static/app/img/noimagen.jpg" alt="">
              {% endif %}
              <div class="card-body">
                <p class="card-text"> {{aux.nombre}} </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% if perms.app.change_producto %}
                    <a href="{% url 'modificar_producto' aux.id %}" class="btn btn-info">Modificar</a>
                    {% endif %}
                    {% if perms.app.delete_producto %}
                    <a onclick="confirmarDelete({{ aux.id }})" class="btn btn-danger">Eliminar</a>
                    {% endif %}
                  </div>
                  {% if user.is_authenticated %}
                  <small class="text-muted">Precio Oferta: {{aux.oferta}}</small>
                  {% else %}
                  <small class="text-muted">Precio: {{aux.precio}}</small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  

{% endfor  %}

{% include 'app/paginator.html' %}

{% endblock %}

{% block javascript %}
<script src="{% static 'app/js/funcionalidades.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}