
{% extends 'app/base.html' %}  
{% load static %}  
{% load crispy_forms_tags %} 

{% block contenido %}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

    <form action="" method="POST" >

        {% csrf_token %}
        <table>
            <br>
            <br>
            <br>
            {{ form|crispy }}
        </table>
        <input type="submit" class="btn btn-succes" value="Suscribirse">
        <input type="reset" class="btn btn-danger" value="Limpiar">
    </form>

    </div>
    <div class="col-sm-2"></div>
</div>

{% block javascript %}
<script src="{% static 'app/js/funcionalidades.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% endblock %}