
.footer {
    background-color: #b86d17;
    color: white;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: right;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


.Logo {
    position: relative;
    justify-content: center;
    color: black;
    text-align: left;
    min-height: 80vh;
    width: 100%;
    height: 100%;
    padding-left: 0%;
}
.footerSomos{

    text-align: left;
    justify-content: center;
    padding:10
}   


section {
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.banner {
    position: relative;
    justify-content: center;
    color: white;
    text-align: center;
    min-height: 90vh;
}

.banner .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/Estapasapiola.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    z-index: -1;
}

.banner .banner-img::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    content: '';
}

.banner .banner-img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bici2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    z-index: -1;
}

.banner .banner-img2::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    content: '';
}

.banner h1 {
    margin-bottom: 15px;
    font-size: 60px;
}

.banner h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

.banner a.banner-btn {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 15px 30px;
    background: #b86d17;
    border-radius: 50px;
}

/* RESPONSIVE */
@media (max-width:1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width:800px) {
    section {
        padding: 130px 30px;
    }
}

@media (max-width:600px) {
    .banner {
        min-height: 600px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner h2  {
        font-size: 20px;
    }

    .banner a.banner-btn {
        font-size: 15px;
        padding: 15px 30px;
    }

   
}

.estilito{
    FONT-WEIGHT: 200;
background: #b86d17;
margin-top: -20px;

}


.text_prod{
    font-size: 10px !important;
}

